.btn-medium{
	border-radius: 50px;
color: red;
background-color: white;
border-radius: 40px;
border: 2px;
font-size: 13;
text-decoration: none;
font-weight: bolder;
transition: all 0,4s ease;
}

.btn-medium:hover{
background-color: red;
color: white;
text-decoration: none;
}